.notesContainer {
  display: flex;
  flex-direction: column;
  .notesButtonContainer {
    justify-content: flex-end;
    display: flex;
  }
  .cardContainer {
    margin-top: 40px;
    
  }
  .allCardsContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
