@import "../../commonStyle/common.scss";


.buttonComponent {
  display: inline-flex;

  button {
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .default {
    width: 210px;
    height: 40px;
    background: $primary;
    font-size: 20px;
  }
  .secondary {
    width: 210px;
    height: 25px;
    background: $black;
    font-size: 16px;
  }

  .link {
    width: 210px;
    height: 40px;
    background: $primary;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
  }

  .icon {
    width: inherit;
    height: inherit;
    background: none;
    font-size: 1rem;
  }
}
