header{
    display: flex;
    height: 80px;
    border-bottom: 1px solid #000;
   h1{
    font-weight: 700;
    font-size: 48px;
    margin: 18px auto 6px;
   }
   img {
    height: 34px;
    width: 34px;
    margin-right: 60px;
    margin-top: 30px;

   }

}